/*Styling for the bouncing ball.*/
.ball {
  background-color: #e1ddba;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  filter: drop-shadow(0 0 0.5rem #000000e8);
  cursor: pointer;
}
