/*Styling for the main body of the site. Mostly used to set the background.*/
body,
html {
  background-color: #19062a;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0rem;
  padding: 0rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  image-rendering: pixelated;
}

/*Styling used to fix the app's formatting on mobile. Without it, users could scroll to the right
and see the closed menu.*/
.app-wrapper {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

/*Styling for centred boxes of text.*/
.text-box-centre {
  width: fit-content;
  margin: auto;
}

/*Styling to vertically centre a div.*/
.vert-centre {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

/*Styling for the main title page when in landscape orientation*/
@media (orientation: landscape) {
  /*Styling for title text.*/
  .title-text {
    font:
      11vh 'Yu Gothic',
      sans-serif;
    color: #e5e1bd;
    text-align: center;
  }

  /*Styling for sub text.*/
  .sub-text {
    font:
      6vh 'Calibri',
      sans-serif;
    color: #8e8a83;
    margin: auto;
    text-align: center;
  }

  /*Styling for section titles.*/
  .section-text {
    font:
      9vh 'Yu Gothic',
      sans-serif;
    font-weight: 500;
    color: #e5e1bd;
    text-align: center;
    text-decoration: underline;
    margin: auto;
  }
}

/*Styling for the main title page when in portrait orientation*/
@media (orientation: portrait) {
  /*Styling for title text.*/
  .title-text {
    font:
      11vw 'Yu Gothic',
      sans-serif;
    color: #e5e1bd;
    text-align: center;
  }

  /*Styling for sub text.*/
  .sub-text {
    font:
      6vw 'Calibri',
      sans-serif;
    color: #8e8a83;
    margin: auto;
    text-align: center;
  }

  /*Styling for section titles.*/
  .section-text {
    font:
      min(9vw, 6.5vh) 'Yu Gothic',
      sans-serif;
    font-weight: 500;
    color: #e5e1bd;
    text-align: center;
    text-decoration: underline;
    margin: auto;
  }
}
