/*Animation keyframes for the view's main fade-in*/
@keyframes fadeInMain {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Animation keyframes for fading in the drop-shadows. Improves performance.*/
@keyframes fadeInShadows {
  from {
    filter: drop-shadow(0 0 1rem #00000000);
  }
  to {
    filter: drop-shadow(0 0 1rem #00000077);
  }
}

/*Animation keyframes for fading out the drop-shadows. Improves website "look".*/
@keyframes fadeOutShadows {
  from {
    filter: drop-shadow(0 0 1rem #00000077);
  }
  to {
    filter: drop-shadow(0 0 1rem #00000000);
  }
}

/*Styling for the main body of the site. Mostly used to set the background.*/
body,
html {
  background-color: #19062a;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0rem;
  padding: 0rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  image-rendering: pixelated;
}

/*Styling used to fix the app's formatting on mobile. Without it, users could scroll to the right
and see the closed menu.*/
.app-wrapper {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

/*Styling for elements with drop-shadows.*/
.shadow {
  position: absolute;
  animation-name: fadeInShadows;
  animation-fill-mode: forwards;
  animation-delay: 1.8s;
  animation-duration: 1.5s;
  z-index: 1;
}

/*Styling for elements with no-shadows. Used to improve scrolling performance by hiding drop-shadows*/
.no-shadow {
  position: absolute;
  animation-name: fadeOutShadows;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  z-index: 1;
}

/*Styling for centred boxes of text.*/
.text-box-centre {
  width: fit-content;
  margin: auto;
}

/*Styling to vertically centre a div.*/
.vert-centre {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

/*Styling for the outermost div in the view with a light background.*/
.main-segment-light {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  min-height: 100%;
  margin: 0rem;
  animation-name: fadeInMain;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  background: url('@/assets/background.png');
}

/*Styling for the outermost div in the view with a dark background.*/
.main-segment-dark {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  min-height: 100%;
  margin: 0rem;
  animation-name: fadeInMain;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  background-color: #19062a;
}

/*Styling for the dimmer when the menu is open.*/
.dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 4;
}

/*Styling for the main title page when in landscape orientation*/
@media (orientation: landscape) {
  /*Styling for title text.*/
  .title-text {
    font:
      11vh 'Yu Gothic',
      sans-serif;
    color: #e5e1bd;
    text-align: center;
  }

  /*Styling for sub text.*/
  .sub-text {
    font:
      6vh 'Calibri',
      sans-serif;
    color: #8e8a83;
    margin: auto;
    text-align: center;
  }

  /*Styling for section titles.*/
  .section-text {
    font:
      9vh 'Yu Gothic',
      sans-serif;
    font-weight: 500;
    color: #e5e1bd;
    text-align: center;
    text-decoration: underline;
    margin: auto;
  }
}

/*Styling for the main title page when in portrait orientation*/
@media (orientation: portrait) {
  /*Styling for title text.*/
  .title-text {
    font:
      11vw 'Yu Gothic',
      sans-serif;
    color: #e5e1bd;
    text-align: center;
  }

  /*Styling for sub text.*/
  .sub-text {
    font:
      6vw 'Calibri',
      sans-serif;
    color: #8e8a83;
    margin: auto;
    text-align: center;
  }

  /*Styling for section titles.*/
  .section-text {
    font:
      min(9vw, 6.5vh) 'Yu Gothic',
      sans-serif;
    font-weight: 500;
    color: #e5e1bd;
    text-align: center;
    text-decoration: underline;
    margin: auto;
  }
}
