/*Styling for the main body of the site. Mostly used to set the background.*/
body {
  background-color: #19062a;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0rem;
}

/*Styling for centred boxes of text.*/
.text-box-centre {
  width: fit-content;
  margin: auto;
}

/*Styling for boxes of text on the left.*/
.text-box-left {
  width: fit-content;
}

/*Styling to vertically centre a div.*/
.vert-centre {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

/*Styling for the main title page when in landscape orientation*/
@media (orientation: landscape) {
  /*Styling for title text.*/
  .title-text {
    font:
      11vh 'Yu Gothic',
      sans-serif;
    color: #e5e1bd;
    text-align: center;
  }

  /*Styling for sub text.*/
  .sub-text {
    font:
      6vh 'Calibri',
      sans-serif;
    color: #8e8a83;
    margin: auto;
    text-align: center;
  }

  /*Styling for section titles.*/
  .section-text {
    font:
      9vh 'Segoe UI',
      sans-serif;
    color: #e5e1bd;
    text-align: center;
    text-decoration: underline;
    padding: 1.5rem;
    padding-top: 0rem;
  }
}

/*Styling for the main title page when in portrait orientation*/
@media (orientation: portrait) {
  /*Styling for title text.*/
  .title-text {
    font:
      11vw 'Yu Gothic',
      sans-serif;
    color: #e5e1bd;
    text-align: center;
  }

  /*Styling for sub text.*/
  .sub-text {
    font:
      6vw 'Calibri',
      sans-serif;
    color: #8e8a83;
    margin: auto;
    text-align: center;
  }

  /*Styling for section titles.*/
  .section-text {
    font:
      9vw 'Segoe UI',
      sans-serif;
    color: #e5e1bd;
    text-align: center;
    text-decoration: underline;
    padding: 1.5rem;
    padding-top: 0rem;
  }
}
