/*Animation for the arrow bobbing in the bottom right corner.*/
@keyframes bob {
  0% {
    margin-bottom: 0vh;
  }
  50% {
    margin-bottom: 1.5vh;
  }
}

/*Animation for the arrow appearing in the bottom right corner.*/
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Intro animation for the title/name block.*/
@keyframes shift {
  from {
    left: -75vw;
  }
  to {
    left: 0vw;
  }
}

/*Styling for the grey segment on the title section.*/
.mainSegment {
  position: absolute;
  width: 20vw;
  left: 0;
  top: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border-bottom: 100vh solid #19062a;
  border-top: 0;
  border-right: 75vw solid transparent;
  border-left: 0;
  z-index: 1;
  filter: drop-shadow(0 0 4rem #000000d0);
}

/*Styling for the main backing on the title page.*/
.pageBacking {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  min-height: 100%;
  margin: 0rem;
  background: url('@/assets/background.png');
}

/*Styling for the container which hold the arrow - mostly used to control the *appear* animation.*/
.arrowContainer {
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
  animation-name: appear;
  animation-duration: 1.5s;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
}

/*Styling for the arrow in the bottom right corner of the title page.*/
.downArrow {
  font:
    5vh 'Calibri',
    sans-serif;
  color: #363349;
  padding: 0.5rem;
  animation-name: bob;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

/*Styling for the block behind the title text.*/
.nameBlock {
  z-index: 2;
  position: absolute;
  top: 35vh;
  left: 0vw;
  height: 30vh;
  width: 70vw;
  background-color: #363349;
  filter: drop-shadow(0 0 0.8rem #00000077);
  animation-name: shift;
  animation-duration: 1.5s;
}
