/*Animation keyframes for the view's main fade-in.*/
@keyframes fadeInMain {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Styling for the hamburger menu icon container.*/
.menuContainer {
  position: absolute;
  opacity: 0;
  top: 0rem;
  right: 0rem;
  margin: 0.8rem;
  width: 38px;
  height: 33px;
  animation-name: fadeInMain;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  z-index: 10;
}

/*Styling for the hamburger menu icon container when a user hovers over it with their mouse.*/
.menuContainer:hover {
  cursor: pointer;
  zoom: 1.05;
  margin: 0.73rem;
}

/*Generic styling for all 3 menu lines*/
.line {
  position: absolute;
  width: 38px;
  height: 6px;
  border-radius: 0.5rem;
}
