/*Styling for the dark-coloured title text*/
.titleText {
  position: absolute;
  font:
    max(4.5vw, 3rem) 'Yu Gothic',
    sans-serif;
  font-weight: 500;
  color: #e5e1bd;
  text-decoration: underline;
  padding: 1vh 3vw;
}

@media (orientation: landscape) {
  /*Styling for the triangle in the top left corner.*/
  .topTriangle {
    position: absolute;
    top: 0;
    border-bottom: 0;
    border-top: 40vh solid #19062a;
    border-right: 50vw solid transparent;
    border-left: 0;
    filter: drop-shadow(0 0 4rem #00000099);
  }

  /*Styling for the triangle in the bottom right corner.*/
  .bottomTriangle {
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 40vh solid #363349;
    border-top: 0;
    border-right: 0;
    border-left: 50vw solid transparent;
    filter: drop-shadow(0 0 4rem #00000099);
  }

  /*Styling for the text on the screen.*/
  .mainText {
    color: #19062a;
    margin: auto;
    width: 50vw;
    height: 100vh;
    padding: 0 25%;
    transform: translateY(30%);
    font:
      max(1.6vw, 2vh) 'Segoe UI',
      sans-serif;
  }

  /*Styling for the hyperlink to the github page.*/
  .githubLink {
    color: #19062a;
    font:
      max(1.6vw, 2vh) 'Segoe UI',
      sans-serif;
  }
}

@media (orientation: portrait) {
  /*Styling for the triangle in the top left corner.*/
  .topTriangle {
    position: absolute;
    top: 0;
    border-bottom: 0;
    border-top: 25vh solid #19062a;
    border-right: 55vw solid transparent;
    border-left: 0;
    filter: drop-shadow(0 0 4rem #00000099);
  }

  /*Styling for the triangle in the bottom right corner.*/
  .bottomTriangle {
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 25vh solid #363349;
    border-top: 0;
    border-right: 0;
    border-left: 55vw solid transparent;
    filter: drop-shadow(0 0 4rem #00000099);
  }

  /*Styling for the text on the screen.*/
  .mainText {
    color: #19062a;
    margin: auto;
    width: 75vw;
    height: 100vh;
    padding: 0 12.5%;
    transform: translateY(25%);
    font: min(5vw, 2.7vh) sans-serif;
  }

  /*Styling for the hyperlink to the github page.*/
  .githubLink {
    color: #19062a;
    font:
      min(5vw, 2.7vh) 'Segoe UI',
      sans-serif;
  }
}
